body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.OrderButton{
    color: white;
    background: linear-gradient(to left, #33cc33 0%, #66ff33 100%);
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
}
.widthrange{
    width: 50%;
}
#Rest{
    color:chartreuse;
}
.First-section h1{
    font-size: 400%;
}
.First-section h5{
    font-size: 15px;
}
section{
    display: flex;
    padding: 5%;
}
#Skip{
    color: chartreuse;
}
#Skiprest{
    color: tomato;
}
.About-me h1{
    font-size: 300%;
    color: tomato;
}
.About-me h5{
    font-size: 15px;
    color: chartreuse;
}
.widthrange2{
    width: 50%;
}
#Image{
    padding-left: 170px;
}
.About-me{
    background-image: url(food-network-main/images/shapes/7.png);
}
.My-recipies{
    text-align: center;
}
.My-recipies h1{
    color: chartreuse;
    font-size: 250%;
}
.My-recipies p{
    color: tomato;
}